* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  background: #0379cc;
  height: 100vh;
}

.skip-link {
  padding: 0.8em;
  background: #8fd9a8;
  width: 200px;
  position: absolute;
  color: #0061a8;
  border: 2px solid #0061a8;
  border-radius: 10px;
  z-index: 100;
  top: -100px;
  left: 0;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}

.brand span {
  color: orange;
}

.app-bar {
  width: 100%;
  padding: 8px 16px;
  background-color: #0061a8;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar-menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar-menu button {
  color: orange;
  background: white;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.app-bar .app-bar-brand {
  display: flex;
  align-items: center;
  font-family: "lobster", cursive, serif;
}

.app-bar .app-bar-brand h1 {
  color: white;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar-brand h1 span {
  color: orange;
}

.app-bar .app-bar-nav {
  position: absolute;
  top: 50px;
  left: -1800px;
  width: 100%;
  background: #0061a8;
  transition: all 0.3s;
  padding: 8px;
  overflow: hidden;
  font-family: "Courgette", cursive, serif;
}

.app-bar .app-bar-nav ul li a {
  background-image: linear-gradient(to right, gold, orange);
  border-radius: 1em;
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  height: 44px;
  transition: 0.35s ease;
  text-align: center;
}

.app-bar .app-bar-nav ul li a:hover {
  background-image: linear-gradient(to left, gold, orange);
}

.app-bar .app-bar-nav.open {
  left: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  width: 100%;
  text-align: center;
  background-image: url("/images/heros/hero-image_4.jpg");
  background-position: center;
  background-color: #8fd9a8;
  background-blend-mode: darken;
}

.hero .hero-inner {
  color: white;
  font-weight: bold;
}

.hero .hero-inner h2.hero-title {
  font-family: "Courgette", cursive, serif;
  text-shadow: 0 0 2px #000;
  letter-spacing: 1px;
  line-height: 24px;
  font-size: 18px;
}

.card {
  font-family: "Courgette", cursive, serif;
  transition: 0.35s ease;
  margin: 10px;
  position: relative;
  width: 320px;
  padding: 10px;
  border-radius: 1em;
  height: auto;
  overflow: auto;
  background-color: #eeffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card .cardImage {
  position: relative;
}

.card .cardImage img {
  width: 100%;
  border-radius: 1em 1em 0 0;
}

.card .cardImage .city {
  background: #4bc2f1;
  color: white;
  font-size: 14px;
  padding: 4px 12px 4px 10px;
  position: absolute;
  font-weight: bold;
  left: 0;
  top: 0;
  border-radius: 1em 0 1em 0;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.card .cardImage .cardRating {
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-bottom: 4px;
  display: inline-block;
  background: orange;
  border-radius: 0 1em 1em 0;
  padding: 4px 12px 4px 10px;
  position: absolute;
  top: 32px;
  left: 0;
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.2);
}

.card .cardTitle {
  font-family: "lobster", cursive, serif;
  font-weight: 600;
  font-size: 18px;
  margin: 6px 0;
  color: #536ab6;
}

.card .cardTitle a {
  text-decoration: none;
  cursor: pointer;
}

.card .cardDesc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #8b9bce;
}

.card:hover {
  box-shadow: 0 4px 10px 0 rgba(21, 213, 247, 0.753);
  transform: scale(1.05);
}

h3 {
  font-family: "lobster", cursive, serif;
  text-align: center;
  margin: 10px;
  color: #536ab6;
  font-size: 22px;
}

main {
  width: 100%;
  background: #fff;
}

main article.precontent {
  width: 100%;
  background: #8fd9a8;
  display: grid;
  justify-content: center;
  box-sizing: border-box;
}

main article.precontent h2 {
  font-size: 18px;
  color: #536ab6;
}

main article.precontent .precards {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Courgette", cursive, serif;
  color: #eeffff;
}

main article.precontent .precards .precard {
  box-sizing: border-box;
  padding: 0.5em;
  width: 145px;
  height: auto;
  margin: 10px;
  border-radius: 1em;
  background-color: #28b5b5;
  text-align: left;
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  transition: 0.3s ease;
}

main article.precontent .precards .precard .preimg img {
  width: 100%;
  border-radius: 1em;
}

main article.precontent .precards .precard:hover {
  transform: scale(1.1);
}

main article.content {
  background: white;
}

main article.content #list-restaurant {
  width: 100%;
  background: #8ab6d6;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer {
  font-family: "Courgette", cursive, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background: #0061a8;
}

footer p {
  font-style: italic;
  font-size: 16px;
  color: #fff;
}

#likeButtonContainer .like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-restaurant {
  font-family: "Courgette", cursive, serif;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.39);
  background: #8fd9a8;
  border-radius: 0 0 1em 1em;
}

.detail-restaurant h3 {
  text-align: left;
}

.detail-restaurant h2 {
  margin: 10px 0;
  color: #0379cc;
}

.detail-restaurant h1.restaurantName {
  padding: 10px;
  color: #0061a8;
  margin: 5px 0;
  font-family: "Courgette", cursive, serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-align: center;
}

.detail-restaurant .wrapInfo {
  color: #8b9bce;
}

.detail-restaurant .wrapInfo .imageWrap {
  width: 100%;
  background: #eeffff;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
}

.detail-restaurant .wrapInfo .imageWrap img {
  width: 100%;
  border-radius: 1em;
}

.detail-restaurant .wrapInfo .info {
  border: 1px solid #4bc2f1;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 1em;
  background: #eeffff;
}

.detail-restaurant .wrapInfo .info h3 {
  margin-left: 0;
}

.detail-restaurant .overview {
  line-height: 24px;
  letter-spacing: 1px;
  background: #eeffff;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #4bc2f1;
  box-sizing: border-box;
  border-radius: 1em;
}

.detail-restaurant .overview .description p {
  color: #8b9bce;
}

.detail-restaurant .overview .menuContainer {
  margin-top: 10px;
  width: 100%;
  display: grid;
  box-sizing: border-box;
  position: relative;
  color: #8b9bce;
  grid-template-areas: "title title" "foods drinks";
}

.detail-restaurant .overview .menuContainer h3 {
  display: grid;
  grid-area: title;
}

.detail-restaurant .overview .menuContainer h4 {
  font-size: 1em;
  color: #28b5b5;
}

.detail-restaurant .overview .menuContainer .menuDrinks,
.detail-restaurant .overview .menuContainer .menuFoods {
  position: relative;
  background-image: linear-gradient(yellow, gold);
  padding: 1em;
  display: grid;
  margin: 0 4px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  margin: 0 4px;
  border-radius: 1em;
}

.detail-restaurant .overview .menuContainer .menuDrinks ul li,
.detail-restaurant .overview .menuContainer .menuFoods ul li {
  list-style: none;
}

.detail-restaurant .overview .menuContainer .menuDrinks {
  grid-area: drinks;
}

.detail-restaurant .overview .menuContainer .menuFoods {
  grid-area: foods;
}

.detail-restaurant .overview .review-container {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.detail-restaurant .overview .review-container img {
  width: 100px;
  height: 100px;
  display: block;
}

.detail-restaurant .overview .review-container .reviewer {
  box-sizing: border-box;
  background: whitesmoke;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 100%;
  padding: 10px;
}

.detail-restaurant .overview .review-container .reviewer .review {
  color: #201251;
}

.favorite {
  display: grid;
  height: 100%;
  width: 100%;
}

.favorite .restaurants {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.favorite h2 {
  text-align: center;
  font-family: "Courgette", cursive, serif;
  margin: 18px;
}

@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }
  .app-bar .app-bar-brand h1 {
    font-size: 1.5em;
  }
  .app-bar .app-bar-menu {
    display: none;
  }
  .app-bar .app-bar-nav {
    position: static;
    width: 100%;
  }
  .app-bar .app-bar-nav ul li {
    display: inline-block;
  }
  .app-bar .app-bar-nav ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
  .detail-restaurant .wrapInfo {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  section.hero .hero-inner h2.hero-title {
    line-height: 36px;
    font-size: 1.5em;
  }
  .detail-restaurant h1.restaurantName {
    font-size: 2.3rem;
  }
  .card {
    margin: 25px;
  }
  .app-bar {
    background: #0061a8;
    width: 100%;
    box-sizing: border-box;
  }
  .app-bar .app-bar-nav {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar-brand h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 935px) {
  .detail-restaurant {
    width: 936px;
  }
}

*:focus {
  outline: 3px dashed orange;
}
/*# sourceMappingURL=style.css.map */